.body {
  font-family: Arial;
}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
  font-family:"Century Gothic", sans-serif;	
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}
  
.td_task {
  width: 25%;
  padding: 30px;
}

.td_info {
  width: 0.1%;
  cursor: pointer;
}

input[type=button]{
  background-color: #61cf77;
  color: white;
  padding: 4px 4px;
  text-decoration: none;
  margin: 2px 2px;
  cursor: pointer;
  font-size: 15px;
  border-radius: 6px;
  font-family:"Century Gothic", sans-serif;	
}

.reset_button{
  background-color: #3c9c4f;
  color: white;
  padding: 6px 8px;
  text-decoration: none;
  margin: 2px 2px;
  cursor: pointer;
  font-size: 15px;
  border-radius: 6px;
  font-family:"Century Gothic", sans-serif;	
  margin-top: 0.3em;
  float: right;
}


.info-box {
  display: none;
  font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
  width: 250px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px ;
  position: absolute;
  margin-left: 0px;
  font-size: small;
}


*:hover + .info-box, .info-box:hover {
  display: inline-block; 
}

input[type=submit]{
  background-color: #3c9c4f;
  color: white;
  padding: 6px 13px;
  text-decoration: none;
  margin: 2px 2px;
  cursor: pointer;
  font-size: 15px;
  border-radius: 6px;
  font-family:"Century Gothic", sans-serif;	
  margin-top: 0.3em;
  margin-bottom: 1em;
  float: right;
}

input[type=number]{
  width: 3em;
}

tr.lines{
    border-bottom:2px solid green;   
}

tr.border_lines{
  padding-top:12px;
  border-bottom:5px solid green;   
}

td.block_cell{
    width: 28%;
    padding: 30px;
}

td.block_cell_checkbox {
  padding: 1.5em 0em 1.5em 0em;
}

td.block_cell_info {
  padding: 1em 0 1em 0em;
}

h1.categoryHeadline {
  font-size: 1.8em;
  margin-top: 0.3em;
  font-weight: bold;
}

.category_cell {
  padding: 1.7em 0em 1.7em 0.5em;
  font-size: 15px;
  position: relative;
}

.design_text_cell {
  width: 12%
}

button.CreateFile{
  font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
  width: 250px;
  height: 50px;
  background-color: rgb(78, 146, 93);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px ;
  display: block;
  font-size: 15px;
  margin: 15px auto;
  border-color:#fff;
}

button.CreateJSONFile{
  font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
  width: 230px;
  height: 50px;
  background-color: #61cf77;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 6px ;
  display: block;
  font-size: 13.5px;
  margin: 15px auto;
  border-color:#fff;
}


.uploadDiv {
    position: absolute;
    width: 300px;
    height: 130px;
    z-index: 15;
    top: 50%;
    left: 50%;
    margin: -60px 20px 30px -150px;
    border-radius: 25px;
    border: 2px solid #73AD21;
    padding: 20px;

}

  
