.body {font-family: Arial;}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
  font-family:"Century Gothic", sans-serif;	
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}
  
.fontStyle {
  font-weight: bold;
  font-family:"Century Gothic", sans-serif;	
}

.td_task {
  width: 25%;
  padding: 30px;
}

.td_info {
  width: 0.1%;
  cursor: pointer;
}

input[type=button]{
  background-color: #61cf77;
  color: white;
  padding: 4px 4px;
  text-decoration: none;
  margin: 2px 2px;
  cursor: pointer;
  font-size: 15px;
  border-radius: 6px;
  font-family:"Century Gothic", sans-serif;	
}

.reset_button{
  background-color: #3c9c4f;
  color: white;
  padding: 6px 8px;
  text-decoration: none;
  margin: 2px 2px;
  cursor: pointer;
  font-size: 15px;
  border-radius: 6px;
  font-family:"Century Gothic", sans-serif;	
  margin-top: 0.3em;
  float: right;
}


.info-box {
  display: none;
  font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
  width: 300px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px ;
  position: absolute;
  margin-left: 0px;
  font-size: small;
}

*:hover + .info-box, .info-box:hover {
  display: inline-block; 
}

input[type=submit]{
  background-color: #3c9c4f;
  color: white;
  padding: 6px 13px;
  text-decoration: none;
  margin: 2px 2px;
  cursor: pointer;
  font-size: 15px;
  border-radius: 6px;
  font-family:"Century Gothic", sans-serif;	
  margin-top: 0.3em;
  margin-bottom: 1em;
  float: right;
}

input[type=number]{
  width: 3em;
}

button.sumbitTextsParameters{
  font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
  width: 200px;
  height: 35px;
  background-color: rgb(78, 146, 93);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px ;
  margin-top: 15px;
  position: relative;
  z-index: 1;
  font-size: small;
  right: 0%;
  font-size: 15px;
  cursor: pointer;

  }
tr.lines{
    border-bottom:2px solid green;   
}

tr.border_lines{
  padding-top:12px;
  border-bottom:5px solid green;   
}

td.block_cell_label{
  padding: 0.3em 5em 0.3em 0;
}

td.block_cell_input{
  padding-left: 5em;
}

td.block_cell_checkbox {
  padding: 1.5em 5em 1.5em 5em;
}

td.block_cell_info {
  padding: 1em 0 1em 0em;
}


.keyText{
  font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
  display: inline-block;
  margin:3px;
  padding:5px;
  font-size: 12px;
  position: relative;
  
}

h1.categoryHeadline {
  font-size: 1.8em;
  margin-top: 0.3em;
  font-weight: bold;
}

.category_cell {
  padding: 1.7em 0em 1.7em 0.5em;
  font-size: 15px;
  position: relative;
}

.design_text_cell {
  width: 12%
}

.table.categories {
table-layout: auto;
}

.textOnError{
  font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
  display: inline-block;
  margin: 5px;
  padding: 12px;
  font-size: 12px;
  font-weight: bold;
  position: relative;
}

button.resetTextsParameters{
  font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
  width: 70px;
  height: 35px;
  background-color: rgb(78, 146, 93);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px ;
  margin-top: 15px;
  position: relative;
  z-index: 1;
  font-size: small;
  right: 0%;
  font-size: 15px;
  cursor: pointer;
}

button.CreateFile{
  font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
  width: 250px;
  height: 50px;
  background-color: rgb(78, 146, 93);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px ;
  display: block;
  font-size: 15px;
  margin: 15px auto;
  border-color:#fff;
}

button.ClearTextsParameters{
  font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
  width: 70px;
  height: 35px;
  background-color: rgb(78, 146, 93);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px ;
  margin-top: 15px;
  position: relative;
  z-index: 1;
  font-size: small;
  right: 0%;
  font-size: 15px;
  cursor: pointer;
}

.cellsStyle {
    font-family:"Century Gothic", sans-serif;	
    display: inline-block;
    margin: 5px;
    padding: 1.5em 1em 1.7em 0.5em;
    font-size: 15px;
    font-weight: bold;
    position: relative;
}

  
